<!DOCTYPE html>
<html>
<head>
	<title>Create Blog Post</title>
</head>
<body>
	<form method="POST" action="/posts">
		<h2>Blog Post Name: <input type="text" name="name"></h2>
		<h2>Blog Post Content: <textarea name="content"></textarea></h2>
		<button type="submit">submit</button>
	</form>
</body>
</html>